version: "3.8"

services:
  frontend:
    build: ./frontend
    ports:
      - "80:80"

  backend:
    build: ./backend
    ports:
      - "3000:3000"

  ai:
    build: ./ai
    ports:
      - "8000:8000"
